@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.clear {
  clear: both;
}

/*img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
}*/
a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/*.allBox {
    width: 1920px;
    height: auto;
}*/
/* 상단 로고 및 메뉴 */
header {
  cursor: default;
  width: 100vw;
  height: 20vh;
  z-index: 200;
  margin: 0 auto;
  left: 0;
  right: 0;
}

header p {
  width: 30vw;
  height: 5vh;
  position: absolute;
  margin-top: -5vh;
  margin-left: 35vw;
  border-radius: 20vh;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  line-height: 5vh;
  color: #333;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 20vh;
  -moz-border-radius: 20vh;
  -ms-border-radius: 20vh;
  -o-border-radius: 20vh;
}

.logo_img {
  width: 5vw;
  height: auto;
  margin-top: 5vh;
  margin-left: 5.2vw;
}

.menu_icon {
  width: 5vw;
  height: 1vh;
  font-size: 1.5vw;
  color: #333;
  margin-top: 4vh;
  position: absolute;
  margin-left: 85.4vw;
}

.menu_icon:hover {
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* 사이드 메뉴 */
.sidenav {
  cursor: default;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 9.2vh;
}

.click_buttom:hover,
.closebtn:hover,
#sub_menu1:hover,
#sub_menu2:hover,
#sub_menu3:hover,
#sub_menu4:hover {
  cursor: pointer;
  color: #f1f1f1;
}

.click_buttom {
  width: 10vw;
  height: 2.7vh;
  padding: 1vh 0.4vw 1vh 1.6vw;
  text-decoration: none;
  font-size: 1vw;
  color: #333;
  display: block;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Noto Sans KR', sans-serif;
}

.sub_menu {
  width: 10vw;
  height: 5vh;
  display: none;
  float: left;
  font-size: 0.8vw;
  margin-top: 1vh;
  text-align: center;
  line-height: 3.5vh;
  opacity: 0;
  position: absolute;
  z-index: 300;
  color: #333;
}

.sidenav .closebtn {
  position: absolute;
  top: 1.8vh;
  right: 1.3vw;
  font-size: 2vw;
}

/* 상세페이지 */
.detail_all_box {
  cursor: default;
  width: 100vw;
  height: 100vh;
  display: block;
  margin-top: 5vh;
}

.detail_picture {
  width: 30.8vw;
  height: 85vh;
  overflow: hidden;
  margin-left: 20vw;
  display: inline-block;
  float: left;
}

.main_picture {
  width: 30.8vw;
  height: 59vh;
  overflow: hidden;
}

.sub_picture {
  width: 5.35vw;
  height: 10vh;
  display: inline-block;
  float: left;
  margin-right: 0.8vw;
  margin-top: 0.8vh;
  overflow: hidden;
}

.detail_picture img {
  width: 30vw;
  height: auto;
}

.sub_picture img {
  width: 5.35vw;
  height: auto;
}

.detail_content_box {
  width: 25vw;
  height: 59vh;
  margin-left: 55vw;
}

.content_name {
  width: 24vw;
  height: 3vh;
  margin-left: 1vw;
  font-size: 1vw;
  display: block;
  float: left;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

.content_price {
  width: 24vw;
  height: 3vh;
  margin-left: 1vw;
  margin-top: 1.5vh;
  font-size: 0.8vw;
  display: block;
  float: left;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

.detail_bar {
  width: 0.05vw;
  height: 40vh;
  background-color: #333;
  position: absolute;
  margin-top: 11vh;
  margin-left: 1vw;
}

.content_color {
  width: 24vw;
  height: 5vh;
  margin-left: 1vw;
  margin-top: 46.7vh;
  font-size: 0.8vw;
  display: block;
  float: left;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

.color_name {
  width: 5vw;
  height: 5vh;
  display: inline-block;
  float: left;
  line-height: 5vh;
}

.content_color div:nth-child(2) {
  width: 5vw;
  height: 3vh;
  margin-top: 1vh;
  display: inline-block;
  float: left;
  background-color: #000;
}

.content_color div:nth-child(3) {
  width: 5vw;
  height: 2.6vh;
  margin-top: 1vh;
  margin-left: 1vw;
  display: inline-block;
  float: left;
  border: 0.1vw solid #000;
  background-color: #fff;
}

.content_color div:nth-child(4) {
  width: 5vw;
  height: 3vh;
  margin-top: 1vh;
  margin-left: 1vw;
  display: inline-block;
  float: left;
  background-color: #2f1703;
}

.content_color div:nth-child(2):hover,
.content_color div:nth-child(3):hover,
.content_color div:nth-child(4):hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.content_all {
  width: 24vw;
  height: 5vh;
  margin-left: 1vw;
  margin-top: 1.5vh;
  font-size: 0.8vw;
  display: block;
  float: left;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

.content_all div {
  width: 3vw;
  height: 5vh;
  float: left;
  position: absolute;
  line-height: 5vh;
  display: none;
}

.content_number {
  width: 4vw;
  height: 3vh;
  display: none;
  float: left;
  line-height: 3vh;
  margin-left: 4vw;
  margin-top: 1vh;
  border: 0vw none;
}

.plus_icon,
.minus_icon {
  width: 1vw;
  height: 3vh;
  display: none;
  float: left;
  margin-top: 1vh;
  margin-left: 0.5vw;
  line-height: 3vh;
}

.plus_icon:hover,
.minus_icon:hover {
  cursor: pointer;
  color: #999;
}

.all_price {
  width: 24vw;
  height: 5vh;
  margin-left: 1vw;
  margin-top: 2vh;
  font-size: 0.8vw;
  display: block;
  float: left;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}

.all_price div:first-child {
  width: 4vw;
  height: 5vh;
  display: inline-block;
  float: left;
  line-height: 5vh;
}

.price_box {
  width: 10vw;
  height: 5vh;
  display: inline-block;
  float: left;
  border: 0 none;
  line-height: 5vh;
}

.content_cart,
.content_shopping {
  width: 10vw;
  height: 5vh;
  margin-left: 1vw;
  margin-top: 2.5vh;
  margin-right: 1vw;
  font-size: 0.8vw;
  text-align: center;
  display: inline-block;
  float: left;
  color: #333;
  border-radius: 0.2vw;
  border: 0.1vw solid #333;
  line-height: 5vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.content_cart:hover,
.content_shopping:hover {
  cursor: pointer;
  opacity: 60%;
}

.content_text {
  width: 60vw;
  height: 0.3vh;
  margin-left: 20vw;
  background-color: #333;
}

.text_1 {
  width: 60vw;
  height: 50vh;
  font-size: 1vw;
  margin-left: 20vw;
  margin-top: 10vh;
  color: #333;
  line-height: 5vh;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

strong {
  font-size: 1.3vw;
}

.text_1 p {
  margin-top: 10vh;
  line-height: 5vh;
}

/* 구매 팝업 */
.popup_box {
  width: 30vw;
  height: 100vh;
  display: none;
  margin-top: 15vh;
  margin-left: 35vw;
  border-radius: 0.9vh;
}

.popup_box img {
  width: 6vw;
  height: auto;
  margin-left: 12vw;
}

.popup_box p {
  width: 30vw;
  height: auto;
  text-align: center;
  font-size: 1vw;
  margin-top: 5vh;
}

.back_ok {
  width: 5vw;
  height: 3vh;
  margin-left: 12.5vw;
  margin-top: 5vh;
}

/* 하단 */
footer {
  cursor: default;
  width: 100vw;
  height: 18.5vh;
  margin-top: 100vh;
  background-color: #333;
  border-top-right-radius: 26vw;
}

.footer_content {
  width: 50vw;
  height: 10vh;
  display: inline-block;
  float: left;
  position: absolute;
  z-index: 600;
  font-size: 0.7vw;
  line-height: 2.7vh;
  margin-top: 2.3vh;
  margin-left: 2.6vw;
  color: #999;
}

.content1 {
  display: inline-block;
  float: left;
  margin-right: 1vw;
}

.top_icon {
  position: absolute;
  margin-left: 95vw;
  margin-top: 12vh;
  font-size: 1.5vw;
  z-index: 300;
  color: #fff;
}

.top_icon:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .2s;
  transition: .2s;
}

/* 이용약관 팝업창 */
.terms_of_use {
  cursor: default;
  width: 40vw;
  height: 90vh;
  z-index: 500;
  position: absolute;
  margin-left: 50vw;
  margin-top: 190vh;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  opacity: 0;
}

.x_icon {
  font-size: 1vw;
  color: #fff;
  position: absolute;
  margin-top: 3vh;
  margin-left: 37vw;
  z-index: 600;
}

.x_icon:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .2s;
  transition: .2s;
}

.terms_of_use p {
  font-size: 1vw;
  text-align: center;
  color: #fff;
  margin-top: 5vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.terms_of_use div {
  width: 35vw;
  height: 75vh;
  margin-top: 3vh;
  overflow-y: scroll;
  margin-left: 2.5vw;
}

.terms_of_use div p {
  font-size: 0.8vw;
  color: #fff;
  line-height: 2;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 개인정보 팝업창 */
.information_box {
  cursor: default;
  width: 40vw;
  height: 90vh;
  z-index: 500;
  position: absolute;
  margin-left: 50vw;
  margin-top: 190vh;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 2vh;
  -moz-border-radius: 2vh;
  -ms-border-radius: 2vh;
  -o-border-radius: 2vh;
  opacity: 0;
}

.information_box p {
  font-size: 1vw;
  text-align: center;
  color: #fff;
  margin-top: 5vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.information_box div {
  width: 35vw;
  height: 75vh;
  margin-top: 3vh;
  overflow-y: scroll;
  margin-left: 2.5vw;
}

.information_box div p {
  font-size: 0.8vw;
  color: #fff;
  line-height: 2;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
/*# sourceMappingURL=detail.css.map */