@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.clear {
    clear: both;
}

/*img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
}*/

a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}

/*.allBox {
    width: 1920px;
    height: auto;
}*/

/* 상단 로고 및 메뉴 */
header {
    cursor: default;
    width: 100vw;
    height: 20vh;
    position: fixed;
    z-index: 200;
    margin: 0 auto;
    left: 0;
    right: 0;
}

header p {
    width: 30vw;
    height: 5vh;
    position: absolute;
    margin-top: -5vh;
    margin-left: 35vw;
    border-radius: 20vh;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    line-height: 5vh;
    color: #333;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 20vh;
    -moz-border-radius: 20vh;
    -ms-border-radius: 20vh;
    -o-border-radius: 20vh;
}


.scroll_box {
    width: 100vw;
    position: absolute;
    text-align: center;
    margin-top: 80vh;
    font-size: 2.5vw;
    color: #fff
}

.scroll_down {
    width: 100vw;
    height: 10vh;
    position: relative;
    animation-name: scroll_down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes scroll_down {
    0% {top: 0vh;}
    50% {top: 2vh;}
    100% {top: 0vh;}
}

.logo_img {
    width: 5vw;
    //width: calc(100% / 25);
    height: auto;
    margin-top: 5vh;
    //margin-top: 40px;
    margin-left: 5.2vw;
    //margin-left: calc(100% - 1820px);
}

.menu_icon {
    width: 5vw;
    height: 1vh;
    //width: calc(100% / 25);
    //height: 10px;
    font-size: 1.5vw;
    //font-size: 30px;
    color: #333;
    margin-top: 4vh;
    //margin-top: 30px;
    position: absolute;
    margin-left: 85.4vw;
    //margin-left: calc(100% - 280px);
}

.menu_icon:hover {
    cursor: pointer;
    color: #fff;
    transition: 0.5s;
}

/* 사이드 메뉴 */
.sidenav {
    cursor: default;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 9.2vh;
    //padding-top: 100px;
}

.click_buttom:hover,
.closebtn:hover,
#sub_menu1:hover,
#sub_menu2:hover,
#sub_menu3:hover,
#sub_menu4:hover {
    cursor: pointer;
    color: #f1f1f1;
}

.click_buttom {
    width: 10vw;
    //width: 200px;
    height: 2.7vh;
    //height: 30px;
    padding: 1vh 0.4vw 1vh 1.6vw;
    text-decoration: none;
    font-size: 1vw;
    color: #333;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.sub_menu {
    width: 10vw;
    height: 5vh;
    display: none;
    float: left;
    font-size: 0.8vw;
    margin-top: 1vh;
    text-align: center;
    line-height: 3.5vh;
    opacity: 0;
    position: absolute;
    z-index: 300;
    color: #333;
}

.sidenav .closebtn {
    position: absolute;
    top: 1.8vh;
    //top: 20px;
    right: 1.3vw;
    //right: 25px;
    font-size: 2vw;
}

/* 메인 이미지 슬라이드 */
.main_content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main_img {
    cursor: default;
    width: 100vw;
    height: 100vh;
    float: left;
    position: relative;
}

.main_all_1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.main_all_2 {
    width: 100vw;
    height: 100vh;
    left: 100vw;
    position: absolute;
}

.main_all_3 {
    width: 100vw;
    height: 100vh;
    left: 200vw;
    position: absolute;
}

.main_all_4 {
    width: 100vw;
    height: 100vh;
    left: 300vw;
    position: absolute;
}

.main_img_style {
    width: 100vw;
    height: 100vh;
}

.img_text {
    width: 16.6vw;
    //width: calc(100% / 6);
    height: 6.6vh;
    //height: calc(100% / 15);
    float: left;
    position: absolute;
    margin-top: 83.3vh;
    //margin-top: calc(100% / 2.4);
    margin-left: 2vw;
    //margin-left: calc(100% - 1880px);
    font-size: 1.5vw;
    color: #fff;
    line-height: 2.6vh;
    //line-height: 29px;
    z-index: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

.img_text:hover,
.right_icon:hover {
    cursor: pointer;
    /*transform: scale(0.9);
    transition: .2s;*/
    color: #333;
    font-weight: bold;
    transition: 0.5s;
}

.main_all_1 p,
.main_all_2 p,
.main_all_3 p,
.main_all_4 p {
    width: 25vw;
    //width: calc(100% / 4);
    height: 20vh;
    //height: calc(100% / 5);
    float: left;
    position: absolute;
    margin-top: 71.4vh;
    //margin-top: calc(100% / 2.8);
    margin-left: 5vw;
    //margin-left: calc(100% - 1822px);
    font-size: 3.1vw;
    color: #fff;
    line-height: 9.2vh;
    //line-height: 100px;
    font-weight: bold;
}

.right_icon {
    width: 5vw;
    //width: 100px;
    height: auto;
    font-size: 3.1vw;
    color: #fff;
    margin-top: 84vh;
    //margin-top: calc(100% / 2.365);
    margin-left: 16vw;
    //margin-left: calc(100% - 1600px);
    position: absolute;
    z-index: 400;
}


/* 신상품 리스트 */
.new_arrival_content {
    cursor: default;
    width: 100vw;
    height: 82vh;
    //height: 800px;
    overflow: hidden;
    margin-top: 46.3vh;
    //margin-top: 500px;
    position: relative;
}

.new_arrival_name {
    width: 100vw;
    height: 4.6vh;
    //height: 50px;
    position: absolute;
    color: #333;
    text-align: center;
    font-size: 2.6vw;
}

.new_arrival_slide_big_box {
    width: 100vw;
    height: 76vh;
    //height: 750px;
    float: left;
    margin-top: 4.6vh;
    //margin-top: 50px;
    position: relative;
}

.new_arrival_slide {
    width: 300vw;
    height: 67vh;
    //height: 650px;
    display: inline-block;
    float: left;
}

.new_arrival_style {
    width: 23.4vw;
    //width: 450px;
    height: 57vh;
    //height: 550px;
    display: inline-block;
    float: left;
    margin-left: 4.94vw;
    margin-right: 4.94vw;
    //margin-left: 95px;
    //margin-right: 95px;
    margin-top: 9.2vh;
    //margin-top: 100px;
}

.new_arrival_style:hover {
    cursor: pointer;
    opacity: 70%;
}

.new_arrival_text {
    width: 300vw;
    height: 9.2vh;
    //height: 100px;
    float: left;
    position: relative;
}

.new_arrival_text_content {
    width: 23.4vw;
    //width: 450px;
    height: 9.2vh;
    //height: 100px;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 7.5vh;
    //line-height: 80px;
    font-size: 1vw;
    margin-left: 4.94vw;
    margin-right: 4.94vw;
    //margin-left: 95px;
    //margin-right: 95px;
}

.new_arrival_text_content p {
    line-height: 1vh;
    font-size: 0.8vw;
}

.new_arrival_text_content:hover,
.new_arrival_text_content p:hover {
    cursor: pointer;
    color: #888;
}

.icon_box {
    width: 4vw;
    //width: 72px;
    height: 2vh;
    margin-left: 48vw;
    //margin-left: 924px;
    margin-top: 9.2vh;
    //margin-top: 100px;
}

.icon_box:hover {
    cursor: pointer;
}

.slide_buttom1 {
    width: 1vw;
    //width: 20px;
    height: 2vh;
    //height: 100%;
    background-color: #fff;
    border-radius: 2.6vw;
    border: 0.15vw solid #333;
    display: inline-block;
    position: absolute;
    z-index: 400;
    margin-left: 0.2vw;
}

.slide_buttom2 {
    width: 1vw;
    //width: 20px;
    height: 2vh;
    //height: 100%;
    background-color: #333;
    border-radius: 2.6vw;
    border: 0.15vw solid #333;
    display: inline-block;
    position: absolute;
    z-index: 400;
    margin-left: 2.2vw;
}

/* 룩북 */
.lookBook_text {
    cursor: default;
    width: 100vw;
    height: auto;
    margin-top: 51vh;
    //margin-top: 550px;
    font-size: 13vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 8.3vh;
    //line-height: 90px;
    position: relative;
    z-index: 200;
    color: #333;
}

.lookBook_text a {
    font-size: 50px;
    margin-left: 4vw;
    //margin-left: 70px;
    letter-spacing: 3.5vw;
}

.lookBook_content {
    cursor: default;
    width: 50vw;
    height: auto;
    margin-top: -15vh;
    //margin-top: -160px;
    margin-left: 25vw;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.lookbook_img {
    width: 50vw;
    height: auto;
}

.lookBook_content p {
    width: 10vw;
    //width: calc(100% / 5);
    height: 7.4vh;
    //height: 80px;
    margin-left: 20vw;
    //margin-left: calc(100% / 2.5);
    margin-top: 55.55vh;
    //margin-top: calc(100% / 1.8);
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid #fff;
    color: #fff;
    border-radius: 1vw;
    position: absolute;
    z-index: 300;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 7.4vh;
    //line-height: 80px;
    display: none;
}

.lookBook_content p:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .2s;
}

.lookBook_content article {
    width: 25vw;
    //width: calc(100% / 2);
    height: 9.2vh;
    //height: 100px;
    margin-left: 12.5vw;
    //margin-left: calc(100% / 4);
    margin-top: 110vh;
    //margin-top: calc(100% + 10%);
    position: absolute;
    z-index: 600;
    text-align: center;
    font-size: 1.5vw;
    line-height: 4.6vh;
    //line-height: 50px;
}

/* best item */
.best_content {
    cursor: default;
    width: 100vw;
    height: 100vh;
    //height: 600px;
    margin-top: 46.3vh;
    //margin-top: 500px;
}

.best_content_size {
    width: 100vw;
    height: 100vh;
    //height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    //margin-top: 500px;
}

.best_content div,
.best_content img {
    width: 25vw;
    height: 33.334vh;
    overflow: hidden;
}

.best_content div:nth-child(6) {
    background-color: #fff;
    width: 50vw;
    font-size: 7.8vw;
    text-align: center;
    line-height: 33.334vh;
}


/* 어바웃 */
.about_content {
    cursor: default;
    width: 50vw;
    //width: calc(100% / 2);
    height: 72vh;
    //height: 700px;
    margin-left: 25vw;
    //margin-left: calc(100% / 4);
    margin-top: 46.2vh;
    //margin-top: 500px;
    overflow: hidden;
    position: relative;
}

.about_page_go {
    width: 50vw;
    height: 4.6vh;
    //height: 50px;
    position: absolute;
    font-size: 1vw;
    color: #fff;
    text-align: center;
    margin-top: 66vh;
    //margin-top: 650px;
    z-index: 300;
}

.about_page_go:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .2s;
}

.about_text {
    width: 50vw;
    height: 72vh;
    //height: 700px;
    position: absolute;
    background-color: rgba(3, 3, 3, 0.5);
    font-size: 1vw;
    color: #fff;
    text-align: center;
    line-height: 3.7vh;
    //line-height: 40px;
}

.about_text_box {
    display: none;
}

.logo_img_0 {
    width: 5vw;
    //width: calc(100% / 13);
    height: auto;
    position: absolute;
    z-index: 300;
    margin-left: 22.7vw;
    //margin-left: calc(100% /2.2);
    margin-top: 3vh;
    //margin-top: 30px;
}

.about_text p {
    margin-top: 20vh;
    //margin-top: 190px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about_img {
    width: 50vw;
    height: auto;
}

/* 하단 */
footer {
    cursor: default;
    width: 100vw;
    height: 18.5vh;
    //height: 200px;
    margin-top: 27.8vh;
    //margin-top: 300px;
    background-color: #333;
    border-top-right-radius: 26vw;
}

.footer_content {
    width: 50vw;
    //width: calc(100% / 2);
    height: 10vh;
    //height: calc(100% - 25px);
    display: inline-block;
    float: left;
    position: absolute;
    z-index: 600;
    font-size: 0.7vw;
    line-height: 2.7vh;
    //line-height: 30px;
    margin-top: 2.3vh;
    //margin-top: 25px;
    margin-left: 2.6vw;
    //margin-left: 50px;
    color: #999;
}

.content1 {
    display: inline-block;
    float: left;
    margin-right: 1vw;
}

.top_icon {
    position: absolute;
    margin-left: 95vw;
    margin-top: 12vh;
    font-size: 1.5vw;
    z-index: 300;
    color: #fff;
}

.top_icon:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .2s;
}


/* 이용약관 팝업창 */
.terms_of_use{
    cursor: default;
    width: 40vw;
    height: 90vh;
    z-index: 500;
    position: absolute;
    margin-left: 50vw;
    margin-top: 70vh;
    border-radius: 2vh;
    background-color: rgba(0,0,0,0.9);
    -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
    opacity: 0;
}

.x_icon {
    font-size: 1vw;
    color: #fff;
    position: absolute;
    margin-top: 3vh;
    margin-left: 37vw;
    z-index: 600;
}

.x_icon:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: .2s;
}

.terms_of_use p {
    font-size: 1vw;
    text-align: center;
    color: #fff;
    margin-top: 5vh;
    font-family: 'Noto Sans KR', sans-serif;
}

.terms_of_use div {
    width: 35vw;
    height: 75vh;
    margin-top: 3vh;
    //background-color: #333;
    overflow-y: scroll;
    margin-left: 2.5vw;
}

.terms_of_use div p {
    font-size: 0.8vw;
    color: #fff;
    line-height: 2;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 개인정보 팝업창 */
.information_box{
    cursor: default;
    width: 40vw;
    height: 90vh;
    z-index: 500;
    position: absolute;
    margin-left: 50vw;
    margin-top: 70vh;
    border-radius: 2vh;
    background-color: rgba(0,0,0,0.9);
    -webkit-border-radius: 2vh;
    -moz-border-radius: 2vh;
    -ms-border-radius: 2vh;
    -o-border-radius: 2vh;
    opacity: 0;
}

.information_box p {
    font-size: 1vw;
    text-align: center;
    color: #fff;
    margin-top: 5vh;
    font-family: 'Noto Sans KR', sans-serif;
}

.information_box div {
    width: 35vw;
    height: 75vh;
    margin-top: 3vh;
    //background-color: #333;
    overflow-y: scroll;
    margin-left: 2.5vw;
}

.information_box div p {
    font-size: 0.8vw;
    color: #fff;
    line-height: 2;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}