@charset "utf-8";
@import "./_var", "./_mixin";

.payment_refund__content_all_box {
    width: 100%; 
    height: auto;
    padding: 100px 0;
    font-family: 'DM Sans', sans-serif;
    cursor: default;

    .payment_refund__name {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .payment_refund__payment_box {
        width: 100%;

        .payment_refund__content_box {
            height: auto;
            background-color: #F8F9FD;
            padding: 30px;
            display: block;
            float: left;
            margin-bottom: 50px;
            @include border-radius(20px);

            .payment_refund__number_box,
            .payment_refund__details_box,
            .payment_refund__cancel_content_box,
            .payment_refund__reason_box,
            .payment_refund__total_box,
            .payment_refund__notice_box {
                width: 100%;
                display: block;
                float: left;
                margin: auto;
                margin-bottom: 50px;

                // icon
                .payment_refund__icon {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    float: left;
                    margin-right: 15px;
                }

                .payment_refund__sub_name {
                    display: block;
                    float: left;
                    line-height: 30px;
                    font-size: 20px;
                    font-weight: bold;
                }

                //고유번호 / 상품 정보
                .payment_refund__info_content_box {
                    margin-top: 60px;
                    background-color: $white;
                    padding: 30px;
                    margin-bottom: 50px;
                    @include border-radius(20px);

                    .payment_refund__info_name_box,
                    .payment_refund__info_txt_box {
                        font-size: 15px;
                        display: flex;

                        .payment_refund__info_name,
                        .payment_refund__info_txt {
                            width: calc(100% / 4);
                            text-align: center;
                            font-weight: bold;
                        }

                        .payment_refund__info_txt {
                            font-weight: 400;
                            padding: 0 8px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .payment_refund__info_bar {
                        width: 100%;
                        height: 1px;
                        border: none;
                        margin: auto;
                        background-color: $dark_gray;
                        margin: 20px 0;
                    }
                }

                // 환불 수단
                .payment_refund__content_box {
                    width: 530px;
                    display: inline-block;
                    float: left;
                    margin-top: 30px;
                    background-color: $white;
                    padding: 30px;
                    @include border-radius(20px);

                    .payment_refund__content_name {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    .payment_refund__details_txt {
                        width: 510px;
                        height: 40px;
                        display: inline-block;
                        background-color: #F8F9FD;
                        line-height: 40px;
                        font-size: 15px;
                        padding-left: 20px;
                        @include border-radius(10px);
                    }

                    // 1시간 이후
                    .payment_refund__way_box {
                        width: 150px;
                        display: block;
                        padding-bottom: 20px;

                        .payment_refund__way_checkbox {
                            width: 15px;
                            height: 15px;
                            margin: 0;
                            margin-right: 10px;
                        }

                        .payment_refund__way_txt {
                            height: 15px;
                            position: relative;
                            top: -1.5px;
                            font-weight: bold;
                            font-size: 15px;
                        }

                        #payment_refund__way_checkbox:checked~label {
                            color: $red;
                        }
                    }

                    .refund_reason_txt {
                        height: 115px;
                        border: none;
                    }

                    textarea::placeholder {
                        color: $gray;
                        font-size: 15px;
                    }

                    .payment_refund__total_sub_box {
                        width: 100%;
                        height: 40px;
                        margin-top: 20px;

                        .payment_refund__total_sub_name {
                            width: 160px;
                            font-size: 15px;
                            font-weight: bold;
                            color: $gray;
                            display: inline-block;
                            float: left;
                            line-height: 40px;
                        }

                        .payment_refund__total_txt {
                            width: 350px;
                            height: 40px;
                            display: inline-block;
                            background-color: #F8F9FD;
                            line-height: 40px;
                            font-size: 15px;
                            padding-left: 20px;
                            @include border-radius(10px);
                        }

                        .refund__total_txt {
                            color: $red;
                        }
                    }

                    .total_sub_box {
                        margin-top: 0;
                    }
                }
            }

            .payment_refund__cancel_content_box {
                width: 530px;
                float: right;
                margin-top: 60px;
                background-color: $white;
                padding: 30px;
                @include border-radius(20px);
                display: none;

                .payment_refund__refund_user_bank,
                .payment_refund__refund_user_name,
                .payment_refund__refund_user_number {
                    width: 515px;
                    height: 30px;
                    padding: 5px 10px;
                    background-color: #F8F9FD;
                    border: none;
                    @include border-radius(10px);
                }

                .payment_refund__refund_user_name,
                .payment_refund__refund_user_number {
                    width: 230px;
                    margin-top: 20px;
                }

                .payment_refund__refund_user_number {
                    float: right;
                }

                input[name=refund_user_info]::placeholder {
                    font-size: 14px;
                    font-weight: 300;
                    font-family: 'DM Sans', sans-serif;
                    color: #d4d4d4;
                }

                .payment_refund__refund_info {
                    font-weight: 400;
                    font-size: 12px;
                    color: $gray;
                    float: right;
                    padding-top: 33px;
                }
            }

            .payment_refund__details_box,
            .payment_refund__reason_box,
            .payment_refund__total_box {
                width: 51%;
            }

            .refund__content_box {
                height: 144.5px;
            }

            .refund__reason_box {
                float: left;
            }

            .payment_refund__total_box {
                width: 48.5%;
                float: right;
            }

            // 상품 안내
            .payment_refund__notice_txt_box {
                display: block;
                float: left;
                margin-top: 30px;
                background-color: $white;
                padding: 30px;
                list-style-type: disc;
                @include border-radius(20px);

                .payment_refund__notice_txt {
                    margin-left: 15px;
                    line-height: 25px;
                    font-size: 12px;
                    color: $dark_gray;
                }
            }

            .payment_refund__notice_box {
                margin-bottom: 0;
            }
        }

        .payment_refund__button {
            width: 270px;
            height: 50px;
            display: block;
            float: left;
            margin-left: 475px;
            margin-top: 50px;
            background-color: $red;
            @include border-radius(10px);
            line-height: 50px;
            font-size: 15px;
            font-weight: bold;
            color: $white;
            text-align: center;
        }
    }
}

// 모달창
.payment_refund__modal_box {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    right: 0%;
    top: 0;
    overflow: auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);

    .payment_refund__modal_content_box {
        width: 550px;
        height: 180px;
        background-color: $white;
        @include border-radius(20px);
        margin: 20% auto;
        padding: 50px;

        .payment_refund__modal_txt {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }

        .payment_refund__close_button,
        .payment_refund__apple_button {
            width: 450px;
            height: 50px;
            margin: 30px auto;
            display: block;
            border: 2px solid $dark_gray;
            @include border-radius(10px);
            line-height: 50px;
            font-size: 15px;
        }

        .payment_refund__apple_button {
            border: none;
            background-color: $red;
            color: $white;
        }
    }
}

@media screen and (max-width: 769px) {
    @import "_var", "_mixin";

    .payment_refund__content_all_box {
        width: 95%;
        margin: auto;

        .payment_refund__payment_box {
            .payment_refund__content_box {
                .refund__content_box {
                    height: auto;
                }

                .refund__reason_box {
                    width: 51%;
                    padding-left: 0px;
                }

                .payment_refund__total_box {
                    width: 50%;
                    float: left;
                }

                .payment_refund__cancel_content_box {
                    margin-top: -50px;
                    margin-bottom: 100px;
                    float: left;
                }
            }

            .payment_refund__button {
                margin-left: 200px;
            }
        }
    }

    // 모달창
    .payment_refund__modal_box {
        .payment_refund__modal_content_box {
            margin: 30% auto;
        }
    }
}

@media screen and (max-width: 376px) {
    @import "_var", "_mixin";

    .payment_refund__content_all_box {
        width: 90%;
        margin: auto;
        padding: 50px 0;

        .payment_refund__name {
            font-size: 20px;
        }

        .payment_refund__payment_box {
            .payment_refund__content_box {
                width: 300px;
                padding: 20px;
                margin-bottom: 30px;
                @include border-radius(10px);

                .payment_refund__number_box,
                .payment_refund__details_box,
                .payment_refund__reason_box,
                .payment_refund__total_box,
                .payment_refund__notice_box {
                    width: 100%;
                    margin-bottom: 30px;

                    .payment_refund__icon {
                        width: 25px;
                        height: 25px;
                    }

                    .payment_refund__sub_name {
                        line-height: 25px;
                        font-size: 15px;
                    }

                    //고유번호 / 상품 정보
                    .payment_refund__info_content_box {
                        width: 263.75px;
                        margin-top: 40px;
                        padding: 20px;
                        @include border-radius(10px);

                        .payment_refund__info_name_box,
                        .payment_refund__info_txt_box {
                            font-size: 12px;
                            line-height: 18px;

                            .payment_refund__info_name,
                            .payment_refund__info_txt {
                                width: calc(100% / 4);
                                padding: 0 9px
                            }
                        }
                    }

                    // 환불 수단
                    .payment_refund__content_box {
                        width: 260px;
                        padding: 20px;
                        @include border-radius(10px);

                        .payment_refund__content_name {
                            font-size: 12px;
                        }

                        .payment_refund__details_txt {
                            width: 240px;
                            font-size: 12px;
                            @include border-radius(8px);
                        }

                        .payment_refund__way_box {

                            .payment_refund__way_checkbox {
                                width: 12px;
                                height: 12px;
                            }

                            .payment_refund__way_txt {
                                top: -3.5px;
                                font-size: 12px;

                            }
                        }

                        textarea::placeholder {
                            line-height: 15px;
                            font-size: 10px;
                            padding-top: 10px;
                            padding-right: 20px;
                        }

                        .payment_refund__total_sub_box {
                            .payment_refund__total_sub_name {
                                width: 55px;
                                font-size: 11px;
                                line-height: 20px;
                            }

                            .payment_refund__total_txt {
                                width: 195px;
                                height: 40px;
                                line-height: 40px;
                                font-size: 12px;
                                padding-left: 10px;
                            }
                        }
                    }

                    // 상품 안내
                    .payment_refund__notice_txt_box {
                        margin-top: 20px;
                        padding: 20px;
                        @include border-radius(10px);

                        .payment_refund__notice_txt {
                            margin-left: 10px;
                            line-height: 20px;
                            font-size: 10px;
                            color: $dark_gray;
                        }
                    }
                }

                .payment_refund__cancel_content_box {
                    width: 260px;
                    padding: 20px;
                    margin-top: -20px;
                    margin-bottom: 50px;
                    @include border-radius(10px);

                    .payment_refund__refund_user_bank,
                    .payment_refund__refund_user_name,
                    .payment_refund__refund_user_number {
                        width: 240px;
                        padding: 5px 10px;
                        font-size: 10px;
                    }

                    .payment_refund__refund_user_number {
                        float: left;
                    }

                    input[name=refund_user_info]::placeholder {
                        font-size: 10px;
                    }

                    .payment_refund__refund_info {
                        font-size: 10px;
                        padding-top: 15px;
                    }
                }
            }

            .payment_refund__button {
                width: 150px;
                height: 40px;
                margin-left: 75px;
                margin-top: 0px;
                @include border-radius(8px);
                line-height: 40px;
                font-size: 12px;
            }
        }
    }

    // 모달창
    .payment_refund__modal_box {
        .payment_refund__modal_content_box {
            width: 250px;
            height: 135px;
            background-color: $white;
            @include border-radius(10px);
            margin: 50% auto;
            padding: 30px;

            .payment_refund__modal_txt {
                font-size: 15px;
            }

            .payment_refund__close_button,
            .payment_refund__apple_button {
                width: 200px;
                height: 40px;
                margin: 20px auto;
                border: 1px solid $dark_gray;
                @include border-radius(8px);
                line-height: 40px;
                font-size: 10px;
            }

            .payment_refund__apple_button {
                border: none;
            }
        }
    }
}