.reserves_payment__content_all_box {
  width: 100%;
  height: auto;
  font-family: 'DM Sans', sans-serif;
  cursor: default;
}

.reserves_payment__content_all_box .reserves_payment__name {
  padding: 50px 0;
  font-size: 25px;
  font-weight: bold;
  display: block;
  float: left;
  padding-bottom: 30px;
}

.reserves_payment__content_all_box .reserves_payment__sub_name {
  font-size: 20px;
  font-weight: bold;
}

.reserves_payment__content_all_box .reserves_payment__info_box,
.reserves_payment__content_all_box .reserves_payment__discount_box,
.reserves_payment__content_all_box .reserves_payment__policy_box {
  height: 100%;
  padding: 30px;
  display: block;
  float: left;
  background-color: #F8F9FD;
  border-radius: 20px;
}

.reserves_payment__content_all_box .reserves_payment__info_content_box {
  width: 323.66px;
  height: 70px;
  padding: 30px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 20px;
}

.reserves_payment__content_all_box .reserves_payment__info_content_box .reserves_payment__info_txt_box {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: rgba(186, 176, 249, 0.3);
}

.reserves_payment__content_all_box .reserves_payment__info_content_box .reserves_payment__info_txt_box .reserves_payment__info_amount_txt {
  display: inline-block;
  font-size: 15px;
}

.reserves_payment__content_all_box .reserves_payment__info_content_box .reserves_payment__info_txt_box .reserves_payment__info_amount_txt:first-child {
  color: #c4c4c4;
}

.reserves_payment__content_all_box .reserves_payment__info_content_box .reserves_payment__info_txt_box .reserves_payment__info_amount_txt:nth-child(2) {
  padding-left: 5px;
  font-weight: bold;
}

.reserves_payment__content_all_box .reserves_payment__info_content_box .reserves_payment__info_txt_box .reserves_payment__info_bar {
  width: 100%;
  height: 1.5px;
  position: relative;
  top: -9px;
  left: 0;
  z-index: 10;
  background-color: #c4c4c4;
}

.reserves_payment__content_all_box .reserves_payment__info_content_box .reserves_payment__info_txt {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  font-size: 15px;
  border-radius: 12px;
  background-color: rgba(221, 103, 176, 0.2);
}

.reserves_payment__content_all_box .reserves_payment__info_content_box:nth-child(2),
.reserves_payment__content_all_box .reserves_payment__info_content_box:nth-child(3) {
  margin-left: 30px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box {
  width: 533px;
  padding: 30px;
  display: inline-block;
  float: left;
  background-color: #ffffff;
  border-radius: 20px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .discount_sub_name {
  display: inline-block;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .reserves_payment__discount_notice_txt {
  display: inline-block;
  padding: 0 5px;
  font-size: 10px;
  color: #e9e9e9;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .reserves_payment__discount_txt {
  padding: 14px;
  margin-top: 20px;
  font-size: 15px;
  background-color: #F8F9FD;
  border-radius: 12px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .reserves_payment__discount_txt .reserves_payment__discount_percent_box {
  display: none;
  float: right;
  padding: 8px 20px;
  margin-top: -8px;
  font-size: 15px;
  background-color: #E5E9F6;
  border-radius: 10px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .reserves_payment__discount_txt .reserves_payment__discount_percent_box .reserves_payment__discount_icon {
  width: 9px;
  height: auto;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .reserves_payment__discount_txt .reserves_payment__discount_input {
  width: 100px;
  margin-left: 19px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .reserves_payment__discount_txt .reserves_payment__discount_all_button {
  width: 80px;
  height: 25px;
  line-height: 25px;
  float: right;
  color: #ffffff;
  background-color: #31476D;
  -webkit-box-shadow: 2px 2px 5px #c4c4c4;
          box-shadow: 2px 2px 5px #c4c4c4;
  border-radius: 5px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .discount_txt {
  color: #31476D;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .reserves_payment__discount_sub_box .final_payment_txt {
  color: #dd3141;
  font-weight: bold;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box .discount_sub_box {
  margin-top: 30px;
}

.reserves_payment__content_all_box .reserves_payment__discount_content_box:last-child {
  margin-left: 30px;
}

.reserves_payment__content_all_box .reserves_payment__policy_content_box {
  list-style-type: disc;
  padding: 30px 20px 30px 40px;
  line-height: 35px;
  display: inline-block;
  float: left;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 20px;
}

.reserves_payment__content_all_box .reserves_payment__policy_content_box .policy_txt_disc_none {
  list-style-type: none;
}

.reserves_payment__content_all_box .reserves_payment__policy_checkbox {
  float: right;
  margin-top: 20px;
  display: table;
}

.reserves_payment__content_all_box .reserves_payment__policy_checkbox .reserves_payment__policy_checkbox_txt {
  display: inline-block;
  font-size: 13px;
  padding-left: 5px;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.reserves_payment__content_all_box .reserves_payment__pay_button {
  width: 270px;
  height: 50px;
  display: block;
  float: left;
  margin: 50px 0 50px 475px;
  background-color: #e9e9e9;
  border-radius: 10px;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=reserves_payment.css.map */